<div id="wrapper" style="text-align: center">
  <div >
    <h2>Welcome!</h2>
  </div>
  <div>
    <%= image_tag "oispa_kaliaa.png"%>
  </div>
  <div>
    <br>
    <p>
      <i>
        "There is no such thing as a bad beer. It's that some taste better than others."
      </i>
      <br>
      - Billy Carter
    </p>
    <br>
    <p>This is my beer rating application for web programming course in spring 2017.<br>
      It's done to learn web server programming with Ruby  Rails.</p>
    <p>-Otto</p>
  </div>
</div>
