<h2>Welcome!</h2>
<%= image_tag "oispa_kaliaa.jpg"%>
<div>
  <p>This is my beer rating application for web programming course in spring 2017.<br>
  It's done to learn web server programming with Ruby and Rails.</p>
  <p>-Otto</p>
</div>