<h2> <%= @style.name %> </h2>

<p>
  <%= @style.description %>
</p>

<h3>Beers</h3>
<ul>
  <% @style.beers.each do |beer| %>
      <li><%= link_to beer, beer %></li>
  <% end %>
</ul>

<% if current_user.admin %>
    <%= edit_and_destroy_buttons(@style) %>
<% end %>