<footer class="navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <copyright>
      &copy; Otto Porkka <%= Time.now.year %>
    </copyright>
    <nav>
      <%= image_tag("ruby.ico", class: "footer-icon") %>
      <i>Made with Rails 4.2.7. </i>
      <i>Source code available at github.</i>
      <ul>
        <li><a href="https://www.linkedin.com/in/odporkka/">LinkedIn</a></li>
        <li><a href="https://github.com/odporkka/rubyonrails2017">GitHub</a></li>
      </ul>
    </nav>
  </div>
</footer>